.container {
  padding: 0 30rem;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 2rem;
  line-height: 1rem;
}

.main p {
  font-size: 2rem;
  line-height: 3rem;
  color: rgba(249, 245, 245, 0.744);
}

.badge {
  padding: 0.4rem;
  border-radius: 1rem;
  text-align: center;
  background: linear-gradient(to left, red, rgba(0, 0, 0, 0));
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.hero {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  font-size: larger;
}
.card {
  margin: 1rem 0;
  padding: 2.5rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  position: relative;
}
.reactMarkDown {
  line-height: 2rem;
  font-family: "Verdana", arial, helvetica;
}

.reactMarkDown ul {
  margin-top: 1em;
  margin-bottom: 1em;
  list-style: disc outside none;
}

.reactMarkDown ul li {
  margin-left: 2em;
  display: list-item;
  text-align: -webkit-match-parent;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 2rem;
  }
  .main p {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
