.container {
  padding: 0 15rem;
}

.main {
  padding: 4rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.hero {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  text-align: center;
}

.hero p {
  font-size: 2rem;
  text-align: center;
  font-family: "Open Sans";
  line-height: 3rem;
}
.card {
  margin: 1rem 0;
  padding: 2.5rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  position: relative;
  padding: 1rem;
  color: white;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to top, red, rgba(0, 0, 0, 0)) 1 100%;
}

.card:hover {
  border-color: blue;
}

.card a {
  text-decoration: none;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 200ms;
}

.card a::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 2rem;
  }
  .hero {
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;

    text-align: center;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 0.2rem;
  }
  .main {
    padding: 1rem;
  }
}
