.container {
  padding: 0 6rem;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 2rem;
}

.badge {
  padding: 0.3rem;
  border-radius: 1rem;
  background-color: rgb(17, 94, 67);
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.hero {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  font-size: larger;
}
.card {
  margin: 1rem 0;
  padding: 2.5rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  position: relative;
}
